/*cor de fundo*/
body {
    background-color: rgb(49, 49, 49);
}
/*cor do texto, tamanho da fonte e alinhamento do texto*/
h2 {
    color: rgb(213, 133, 250);
    font-size: 76px;
    text-align: center;
    font-style: italic;
}
h3 {
    color: rgb(184, 250, 108);
    font-size: 20px;
    text-align: center;
    }
