/*cor de fundo*/
body {
    background-color: rgb(0, 0, 0);
}
/*cor do texto, tamanho da fonte e alinhamento do texto*/
h1 {
    text-align: center;
}

h2 {
    color: rgb(210, 130, 247);
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
h3 {
    padding-top: 20px;
    color: rgb(128, 255, 111);
    font-size: 25px
    
}

h4 {
    color: rgb(128, 255, 111);
    font-size: 25px

}

h5 {
    color: rgb(128, 255, 111);
    font-size: 25px
}




